:root {
    --main-bg-color: #003153;
}

* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 150px;
    background-color: var(--main-bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 50px;
}

header .logo img {
    width: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}

header .logo h3 {
    margin: 0px 0px 0px 20px;
    font-size: 24px;
}

header .logo h3:hover {
    text-shadow: 0px 0px 5px;
}

header .logo h3 b a {
    text-decoration: none;
    color: var(--main-bg-color);
    color: white;
}

header nav ul {
    /* background-color: #fff; */
    display: flex;
    align-items: center;
    margin: 0px 50px 0px 0px;
}

header nav ul li {
    margin: 0px 20px 0px 20px;
    list-style: none;

    font: bold;
    font-weight: 900;
}

.profile {
    border-radius: 500px;
}

header nav ul li a .profile img {
    width: 40px;
}

header nav ul li div {
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav ul li .login {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    border: black 2px solid;
    border-radius: 7px;
    width: 150px;
    height: 40px;
}

header nav ul li a {
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    border-radius: 500px;
}

header nav ul li div a:hover {
    box-shadow: 0px 5px 10px;
}

header nav ul li a:hover {
    text-shadow: 0px 0px 5px;
}

.all-container{
    background-color: bisque;
}

.all-container h1{
    text-align: center;
    /* background-color: red; */
    padding: 50px 0 50px 0;
    font-size: 80px;
}

.all-container .box{
    width: 100%;
    justify-content: space-around;
    flex: flex;
    flex-wrap: wrap-reverse;
}


footer .copy {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-color);
    width: 100%;
    height: 70px;
    color: white;
}


header .menu-btn {
    margin: 0 20px 0 0;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: silver;
    border: 1px solid gray;
    border-radius: 8px;
    cursor: pointer;
    display: none;
}

header .menu-btn img {
    width: 15px;
}

.menu-nav {
    position: absolute;
    right: 0%;
    top: 15%;
    width: 45%;
    height: 90vh;
    border: gray 2px solid;
    border-radius: 20px 0 0 0;
    background-color: var(--main-bg-color);
    display: none;
    transition: all 0.4s 2s ease;
}

.menu-nav ul {
    display: flex;
    flex-direction: column-reverse;
    padding: 20px 0 0 0;
    justify-content: center;
    align-items: center;
}


.menu-nav ul li .login {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    color: white;
    border-radius: 7px;
    margin: 10px 0 0 0;
    width: 100%;
}

.menu-nav ul li a {
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    border-radius: 500px;
}

.menu-nav ul li {
    list-style: none;
    padding: 15px 0 15px 0;
    margin: 10px;
}

.menu-nav ul li a .pro-login {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu-nav ul li a .profile {
    display: flex;
    justify-content: center;
}

.menu-nav ul li a .profile img {
    width: 70px;
}

.menu-nav {
    display: none;
}

@media screen and (max-width: 1000px) {
    header nav {
        display: none;
    }

    header .menu-btn {
        display: block;
    }

    .show-nav {
        display: block;
    }
    .all-container .box{
        display: flex;
    }
}