* {
    padding: 0;
    margin: 0;
}

:root {
    --main-bg-color: #003153;
}

header {
    width: 100%;
    height: 120px;
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

header .head {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .head img {
    width: 60px;
}

header .head span {
    color: white;
    padding: 20px;
    font-size: 30px;
    font: bold;
    font-weight: 900;
}

#finished,#yourScore {
    display: none;
}

footer {
    position: absolute;
    bottom: 0%;
    align-content: center;
    height: 60px;
    width: 100%;
    ;
    background-color: var(--main-bg-color);
}

footer .copy {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

main section .container {
    display: flex;
}

main section .container .left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 20vw;
    height: 77vh;
    background-color: white;
    border: 1px black solid;
}

main section .container .left .time {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    width: 90%;
    height: 50px;
    border: 1px silver solid;
    border-radius: 10px;
    margin: 0 0 20px 0;
    cursor: pointer;
    font-size: 40px;
}

main section .container .left .persentage {
    width: 90%;
    height: 15px;
    background-color: silver;
    border-radius: 10px;
    margin: 0 0 20px 0;
    cursor: pointer;
}

main section .container .left .persentage .full {
    width: 50%;
    height: 100%;
    background-color: green;
    border-radius: 10px;
}

main section .container .left .counting {
    width: 90%;
    height: 350px;
    background-color: bisque;
    border: 1px silver solid;
    border-radius: 10px;
    display: grid;
    justify-content: space-around;
    /* grid-row-gap: 3px;
    grid-column-gap: 3px; */
    grid-template-columns: 10% 10% 10% 10% 10%;
    grid-template-rows: auto auto auto auto auto;
}

main section .container .left .counting .circle {
    cursor: pointer;
    display: inline;
    border: 0.5px gray solid;
    border-radius: 100%;
    margin: 5px;
    background-color: lightgreen;
    height: 70%;
    width: 90%;
}

.circle:active {
    /* transform: translateY(2px); */
    transform: scale(1.1);
}

main section .container .right {
    width: 80vw;
    /* background-color: red; */
    border-radius: 2px;

}

main section .container .right .ques-box {
    /* background-color: yellow; */
    padding: 1%;
    width: 98%;
    height: 58vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    font-size: 20px;
}

.que{
    margin: 10px auto;
    width: 90%;
    
}

.que ol li{
    margin-top: 20px;
    padding: 10px;
    width: 70%;
    background-color: white;
    border: 1px black solid;
    border-radius: 10px;
    align-content: center;
}

label{
    cursor: pointer;
}

li input{
    width: 15px;
    height: 15px;
    cursor: pointer;
    margin-right:7px ;
    border: 5px black red;
}


main section .container .right .down {
    position: absolute;
    bottom: 5%;
    width: 78.7vw;
    height: 20vh;
    background-color: white;
    align-content: center;
    border-radius: 2px;
}

main section .container .right .down .buttons {
    /* background-color: green; */
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

main section .container .right .down .buttons button {
    width: 110px;
    height: 40px;
    font-size: 18px;
    font: bold;
    font-weight: 600;
    cursor: pointer;
    border-radius: 8px;
    color: white;
    background-color: var(--main-bg-color);
    border: none;
    outline: none;
}

main section .container .right .down .buttons button:hover {
    box-shadow: 0 10px 20px;
    border: none;
}

#prev:active {
    transform: translateX(-8px);
}

#sub:active {
    transform: translateY(4px);
}

#next:active {
    transform: translateX(8px);
}


.result{
    width: 60%;
    height: 400px;
    margin: 50px auto;
    padding-top: 50px;
    text-align: center;
    border: 1px rgb(248, 183, 62) solid;
    border-radius: 20px;
    box-shadow: 0 0 50px rgb(248, 183, 62);
    background-color: #003153;
    color: white;
}

.result button{
    width: 110px;
    height: 40px;
    font-size: 18px;
    font: bold;
    font-weight: 600;
    cursor: pointer;
    border-radius: 8px;
    color: white;
    background-color: green;
    border: none;
    outline: none;
}